<?xml version="1.0"?>
<configuration>

	<appSettings>
		<add key="ConnectionString" value="Data Source=SSEPANDEV\SQLEXPRESS2K8;Initial Catalog=Home;Integrated Security=True;MultipleActiveResultSets=True"/>
	</appSettings>

 <system.serviceModel>
  <bindings>
   <wsHttpBinding>
    <binding name="WSHttpBinding_ITest_masterService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
     <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
     <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
     <security mode="Message">
      <transport clientCredentialType="Windows" proxyCredentialType="None" realm=""/>
      <message clientCredentialType="Windows" negotiateServiceCredential="true" algorithmSuite="Default" establishSecurityContext="true"/>
     </security>
    </binding>
    <binding name="WSHttpBinding_ITest_detailService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
     <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
     <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
     <security mode="Message">
      <transport clientCredentialType="Windows" proxyCredentialType="None" realm=""/>
      <message clientCredentialType="Windows" negotiateServiceCredential="true" algorithmSuite="Default" establishSecurityContext="true"/>
     </security>
    </binding>
   </wsHttpBinding>
  </bindings>
  <client>
   <endpoint address="http://localhost:2412/Test_masterService.Generated.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ITest_masterService" contract="Test_masterService.ITest_masterService" name="WSHttpBinding_ITest_masterService">
    <identity>
     <dns value="localhost"/>
    </identity>
   </endpoint>
   <endpoint address="http://localhost:2412/Test_detailService.Generated.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ITest_detailService" contract="Test_detailService.ITest_detailService" name="WSHttpBinding_ITest_detailService">
    <identity>
     <dns value="localhost"/>
    </identity>
   </endpoint>
  </client>
 </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
